.container{
  margin: 20px;
}

.flex{
  display: flex;
  flex-direction: row
}
p,img{
  margin: 20px;
}
.book-divider {
  border-bottom: 1px solid #ccc; /* Add a 1px solid line as a divider */
  margin-bottom: 10px; /* Optional: Add some spacing between books and the line */
}